
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1c1c1c;
    color: #e0e0e0;
}

header {
    background-color: #111;
    color: white;
    padding: 20px 0 10px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 20px;
}

.bloco {
    margin-bottom: 40px;
    text-align: center;
}

h2, h3 {
    color: #ff5500;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #ccc;
}
